
.about-container {
   background-color: black;
   color: white;
   padding: 20px;
   border-radius: 10px;
   max-width: 1000px;
   margin: 0 auto;
   margin-top: 20px;
 }
 

 .footer-content{
   padding: 20px;
   border-radius: 10px;
   max-width: 1000px;
   margin: 0 auto;
   margin-top: 20px;
 }